@import "tailwindcss";

body{
    font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* npx shadcn@latest add "https://v0.dev/chat/b/b_s1jD2p90hSr?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIn0..NvGUbGGXi-OyKrDV.8vdi9h-7R-mmOpuegbqtsKgnLxWTQ_M6kOOgfF6fBdOuMRFoI5K3igGY6O8.VJ1DESdcWjG7C9oSNSwzCA" */